<ion-content [fullscreen]="true">

  <!-- Logomarca "GetTask" -->
  <ion-grid>
    <ion-row>
      <ion-col class="Titulo">GetTask</ion-col>
    </ion-row>
  </ion-grid>

  <!-- Título "Vagas" e barra de pesquisa -->
  <ion-grid>
    <ion-row>
      <ion-col class="TextoVagas ion-text-center">Vagas</ion-col>
    </ion-row>
  </ion-grid>
  <ion-searchbar show-clear-button="always" clear-icon="trash-bin" placeholder="Procure por uma vaga"
    class="BarraPesquisa"></ion-searchbar>

  <!-- Card Vaga -->
  <ion-card class="Vaga">
    <ion-card-header>
      <ion-avatar style="width: 40px; height: 40px;">
        <img alt="FotodePerfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-card-title style="color: black; font-size: 24px;">Levar uma encomenda</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Destino: São Paulo - SP
    </ion-card-content>
  </ion-card>

  <!-- Card Vaga -->
  <ion-card class="Vaga">
    <ion-card-header>
      <ion-avatar style="width: 40px; height: 40px;">
        <img alt="FotodePerfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-card-title style="color: black; font-size: 24px;">Levar uma encomenda</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Destino: São Paulo - SP
    </ion-card-content>
  </ion-card>

  <!-- Card Vaga -->
  <ion-card class="Vaga">
    <ion-card-header>
      <ion-avatar style="width: 40px; height: 40px;">
        <img alt="FotodePerfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-card-title style="color: black; font-size: 24px;">Levar uma encomenda</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Destino: São Paulo - SP
    </ion-card-content>
  </ion-card>
  
</ion-content>