<ion-content [fullscreen]="true">

  <!-- Logomarca "GetTask" -->
  <ion-grid>
    <ion-row>
      <ion-col class="Titulo">GetTask</ion-col>
    </ion-row>
  </ion-grid>

  <!-- Título "Vagas" e barra de pesquisa -->
  <ion-grid>
    <ion-row>
      <ion-col class="TextoVagas ion-text-center">Vagas</ion-col>
    </ion-row>
  </ion-grid>
  <ion-searchbar show-clear-button="always" clear-icon="trash-bin" placeholder="Procure por uma vaga"
    class="BarraPesquisa"></ion-searchbar>

  <!-- Card Vaga -->
  <ion-grid class="Vaga">
    <ion-row>
      <ion-avatar style="width: 40px; height: 40px;" class="iconPerfilVaga">
        <img alt="FotodePerfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-col>
        <div class="TituloVaga">Levar uma encomenda a São Paulo</div>
        <div class="LocalSaida">Saída: Santos - Canal 4</div>
        <div class="DestinoVaga">Destino: São Paulo</div>
        <div class="PrazoVaga">Entregar até 22:00</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Card Vaga -->
  <ion-grid class="Vaga">
    <ion-row>
      <ion-avatar style="width: 40px; height: 40px;" class="iconPerfilVaga">
        <img alt="FotodePerfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-col>
        <div class="TituloVaga">Levar uma encomenda a São Paulo</div>
        <div class="LocalSaida">Saída: Santos - Canal 4</div>
        <div class="DestinoVaga">Destino: São Paulo</div>
        <div class="PrazoVaga">Entregar até 22:00</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Card Vaga -->
  <ion-grid class="Vaga">
    <ion-row>
      <ion-avatar style="width: 40px; height: 40px;" class="iconPerfilVaga">
        <img alt="FotodePerfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-col>
        <div class="TituloVaga">Levar uma encomenda a São Paulo</div>
        <div class="LocalSaida">Saída: Santos - Canal 4</div>
        <div class="DestinoVaga">Destino: São Paulo</div>
        <div class="PrazoVaga">Entregar até 22:00</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Card Vaga -->
  <ion-grid class="Vaga">
    <ion-row>
      <ion-avatar style="width: 40px; height: 40px;" class="iconPerfilVaga">
        <img alt="FotodePerfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-col>
        <div class="TituloVaga">Levar uma encomenda a São Paulo</div>
        <div class="LocalSaida">Saída: Santos - Canal 4</div>
        <div class="DestinoVaga">Destino: São Paulo</div>
        <div class="PrazoVaga">Entregar até 22:00</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Card Vaga -->
  <ion-grid class="Vaga">
    <ion-row>
      <ion-avatar style="width: 40px; height: 40px;" class="iconPerfilVaga">
        <img alt="FotodePerfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-col>
        <div class="TituloVaga">Levar uma encomenda a São Paulo</div>
        <div class="LocalSaida">Saída: Santos - Canal 4</div>
        <div class="DestinoVaga">Destino: São Paulo</div>
        <div class="PrazoVaga">Entregar até 22:00</div>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>