.Titulo {
    font-size: 16px;
    color: #003785;
}

ion-content {
    --background: #ffffff;
}

.TextoVagas {
    font-size: 32px;
    color: #003785;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.BarraPesquisa {
    --placeholder-color: #ffffff; /* Cor do texto do placeholder */
  --placeholder-font-style: italic; /* Estilo do texto do placeholder */
  --placeholder-font-size: 8px; /* Tamanho do texto do placeholder */
}

ion-searchbar {
    --background: #003785;
    --color: #ffffff;
    --border-radius: 20px;
}

.Vaga {
    height: 160px;
    border-radius: 20px;
    border: 2px solid #1465BB;
    background: #FFF;
    margin: 10px;
}