
<ion-content [fullscreen]="true">

  <ion-title class="titulo">GetTask</ion-title>

  <ion-grid class="navbar">
    <ion-row class="ion-justify-content-end ion-align-items-start">
      <ion-col size="1">
        <ion-avatar>
          <img class="iconPerfil" alt="Foto de Perfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  
  <ion-button class="Task">Conheça o Task +</ion-button>
 
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" class="TextoVagasDisp">Vagas Disponíveis</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="Vaga">
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <ion-avatar>
        <img class="iconUser" alt="Foto de Perfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar></ion-col>
      <ion-col class="TxtVaga"><p>Levar uma encomenda á São Paulo</p></ion-col>
    </ion-row>
  </ion-grid>
  
  
</ion-content>
