<ion-content [fullscreen]="true">

  <!-- NavBar -->
  <ion-grid class="navbar">
    <ion-row class="ion-justify-content-center">
      <ion-col style="font-size: 16px;">GetTask</ion-col>
      <ion-col>
        <div class="FotoPerfil">
          <ion-avatar>
            <img class="iconPerfil" alt="Foto de Perfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </div>
      </ion-col>
      <ion-col size="5">
        <div class="NomeUser">Olá, Rihan</div>
        <div class="EstrelaAvaliacao">
          <ion-icon name="star-outline" class="estrela"></ion-icon>
          <ion-icon name="star-outline" class="estrela"></ion-icon>
          <ion-icon name="star-outline" class="estrela"></ion-icon>
          <ion-icon name="star-outline" class="estrela"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Quebra de linha -->
  <br>

  <!-- Botão Task + -->
  <ion-button class="Task">Conheça o Task +</ion-button>

  <!-- Titúlo Vagas Disponíveis -->
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" class="TextoVagasDisp">Vagas Disponíveis</ion-col>
    </ion-row>
  </ion-grid>

  <!-- Card Vaga -->
  <ion-grid class="Vaga">
    <ion-row>
      <ion-avatar style="width: 40px; height: 40px;" class="iconPerfilVaga">
        <img alt="FotodePerfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-col>
        <div class="TituloVaga">Levar uma encomenda a São Paulo</div>
        <div class="LocalSaida">Saída: Santos - Canal 4</div>
        <div class="DestinoVaga">Destino: São Paulo</div>
        <div class="PrazoVaga">Entregar até 22:00</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Card Vaga -->
  <ion-grid class="Vaga">
    <ion-row>
      <ion-avatar style="width: 40px; height: 40px;" class="iconPerfilVaga">
        <img alt="FotodePerfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-col>
        <div class="TituloVaga">Levar uma encomenda a São Paulo</div>
        <div class="LocalSaida">Saída: Santos - Canal 4</div>
        <div class="DestinoVaga">Destino: São Paulo</div>
        <div class="PrazoVaga">Entregar até 22:00</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Card Vaga -->
  <ion-grid class="Vaga">
    <ion-row>
      <ion-avatar style="width: 40px; height: 40px;" class="iconPerfilVaga">
        <img alt="FotodePerfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-col>
        <div class="TituloVaga">Levar uma encomenda a São Paulo</div>
        <div class="LocalSaida">Saída: Santos - Canal 4</div>
        <div class="DestinoVaga">Destino: São Paulo</div>
        <div class="PrazoVaga">Entregar até 22:00</div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- Titúlo Vagas Aceitas -->
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" class="TextoVagasDisp">Vagas Aceitas</ion-col>
    </ion-row>
  </ion-grid>

  <!-- Card Vaga -->
  <ion-grid class="Vaga">
    <ion-row>
      <ion-avatar style="width: 40px; height: 40px;" class="iconPerfilVaga">
        <img alt="FotodePerfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-col>
        <div class="TituloVaga">Levar uma encomenda a São Paulo</div>
        <div class="LocalSaida">Saída: Santos - Canal 4</div>
        <div class="DestinoVaga">Destino: São Paulo</div>
        <div class="PrazoVaga">Entregar até 22:00</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Card Vaga -->
  <ion-grid class="Vaga">
    <ion-row>
      <ion-avatar style="width: 40px; height: 40px;" class="iconPerfilVaga">
        <img alt="FotodePerfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-col>
        <div class="TituloVaga">Levar uma encomenda a São Paulo</div>
        <div class="LocalSaida">Saída: Santos - Canal 4</div>
        <div class="DestinoVaga">Destino: São Paulo</div>
        <div class="PrazoVaga">Entregar até 22:00</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Card Vaga -->
  <ion-grid class="Vaga">
    <ion-row>
      <ion-avatar style="width: 40px; height: 40px;" class="iconPerfilVaga">
        <img alt="FotodePerfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-col>
        <div class="TituloVaga">Levar uma encomenda a São Paulo</div>
        <div class="LocalSaida">Saída: Santos - Canal 4</div>
        <div class="DestinoVaga">Destino: São Paulo</div>
        <div class="PrazoVaga">Entregar até 22:00</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Card Vaga -->
  <ion-grid class="Vaga">
    <ion-row>
      <ion-avatar style="width: 40px; height: 40px;" class="iconPerfilVaga">
        <img alt="FotodePerfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-col>
        <div class="TituloVaga">Levar uma encomenda a São Paulo</div>
        <div class="LocalSaida">Saída: Santos - Canal 4</div>
        <div class="DestinoVaga">Destino: São Paulo</div>
        <div class="PrazoVaga">Entregar até 22:00</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Botão Publicar Vaga -->
  <ion-button class="PublicarVaga" (click)="cadastroVaga()">Publique sua vaga aqui</ion-button>

</ion-content>