ion-content {
    --ion-background-color: #ffffff;
}

ion-col {
    color: #ffff;
}

.navbar {
    position: relative;
    height: 200px;
    background-color: #003785;
    border-radius: 0px 0px 20px 20px;
}

.NomeUser {
    font-size: 24px;
    position: relative;
    top: 60px;
    right: 100px;
}

.EstrelaAvaliacao {
    position: relative;
    top: 60px;
    right: 105px;
}

.iconPerfil {
    width: 40px;
    height: 40px;
}

.FotoPerfil {
    position: relative;
    padding: 0px;
    top: 0px;
    left: 185px;
}

.Task {
    --text-align: center;
    --border-width: 2px ;
    --border-style: solid ;
    --border-color: #fff;
    --border-radius: 20px;
    --background: #003785;
    --box-shadow: 0px 0px 4px 3px rgba(0, 20, 107, 0.73);
    --padding: 10px;
    --color: #fff;
    width: 300px;
    height: 44px;
    margin-left: 30px;
}

.titulo {
    background-color: #003785;
    font-size: 16px;
    
}

.TextoVagasDisp {
    font-size: 24px;
    color: black;
}

.Vaga {
    height: 160px;
    border-radius: 20px;
    border: 2px solid #1465BB;
    background: #FFF;
    margin: 10px;
}

.TxtVaga {
    font-size: 13px;
}

.iconUser {
    width: 40px;
    height: 40px;
}

.estrela {
    font-size: 33px;
}

.PublicarVaga {
    --text-align: center;
    --border-radius: 20px;
    --background: #003785;
    --padding: 10px;
    --color: #fff;
    width: 300px;
    height: 44px;
    margin-left: 30px;
}

.Vaga {
    height: 95px;
    border-radius: 20px;
    border: 2px solid #1465BB;
    background: #FFF;
    margin: 10px;
}

.iconPerfilVaga {
    position: relative;
    left: 10px;
    top: 7px;
}

.TituloVaga {
    font-size: 13px;
    color: #000000;
    position:relative;
    left: 20px;
    top: 4px;
    padding: 0px;
}

.LocalSaida {
    font-size: 13px;
    font-style: italic;
    color: #000000;
    opacity: 0.47;
    position: relative;
    left: 20px;
    top: 5px;
    padding: 0px;
}

.DestinoVaga {
    font-size: 11px;
    font-style: italic;
    color: #000000;
    position: relative;
    right: 25px;
    top: 17px;
    padding: 0px;
}

.PrazoVaga {
    font-size: 11px;
    font-style: italic;
    color: #800000;
    position: relative;
    left: 150px;
    top: 0px;
    padding: 0px;
}